* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

section {
    padding: 70px 70px;
}

.sectionFlx {
    display: flex;
}

.sectionFlx .txtDiv,
.imgDiv {
    width: 50%;
    padding: 20px;
}

.image {
    width: 500px;
    padding: 10px;
    margin-top: -100px;
}


.sectionFlx h1.fstHead {
    font-size: 50px;
    padding: 10px;
    color: #0f8787;
}

.txtDiv {
    position: relative;
}

.sectionFlx h1.fstHead ::before {
    content: '';
    position: absolute;
    top: 42px;
    left: 15px;
    height: 90px;
    width: 4px;
    background: linear-gradient(45deg, #0f8787, #ff0047);
    border-radius: 40px;
}

h1.fstHead span {
    color: #ff0047;
}

h1.sndHead {
    font-size: 50px;
    padding: 10px;
    color: #0f8787;
}


h1.sndHead span {
    color: #ff0047;
}

p {
    margin: 25px 0px;
    font-size: 18px;
}

.expmore {
    color: #3a3a3a;
}

.btn {
    font-size: 20px;
    color: #f0f0f0;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    background-image: linear-gradient(to right, #0f8787, #ff0047);
}


.contentSec {
    display: flex;
    justify-content: center;
}

.content {
    text-align: left;
    color: #2e2e2e;
    width: 300px;
    padding: 20px;
    margin: 20px;
    background: linear-gradient(to bottom, #0f87878e, #ff004886);
    border-radius: 15px;
}

.content2 {
    background: linear-gradient(to right, #0f87878e, #ff004886);
}

.content3 {
    background: linear-gradient(to top, #0f87878e, #ff004886);
}

.content img {
    width: 120px;
    padding-bottom: 10px;
}

.content p {
    font-size: 15px;
    padding: -10px 0;
}

.cntBx {
    width: 80%;
    padding: 10px;
    outline: none;
    resize: none;
    margin-bottom: 20px;
    font-size: 18px;
    border: 2px solid;
    border-image: linear-gradient(to left, #0f8787, #ff0047);
    border-image-slice: 1;

}

form {
    padding-top: 30px;
}

form input.btn2 {
    border: none;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 2px;
}

#sectionFive {
    text-align: center;
}

footer {
    text-align: center;
    background: #0B0D17;
    padding: 30px
}


@media (max-width: 767px) {

    .sectionFlx {
        display: grid;
    }


    .sectionFlx .txtDiv,
    .imgDiv {
        width: 100%;
        padding: 20px;
    }

    .image {
        margin-top: 0px;
    }
}